<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>LiveMonitorConsole</title>
    <meta name="description" content="This is a software for testing operational availability Shaqodoon's shortcodes">
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' type='image/png' href='/favicon.ico' />
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="/<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
<!-- application container -->
<div id="application">
    <style type="text/css">
        #initializing i {
            font-size: 15em;
            color: silver;
        }
    </style>
    <div id="initializing">
        <i class="fa fa-cog fa-spin"></i>
    </div>
</div>

<!--The application-->
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="/<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>

</body>
</html>
