description "Run the Live Monitor backend"
start on startup
chdir {{ api_dir }}/server
console log
env DEBUG=
env NODE_ENV={{ node_env }}
env HOME={{ home }}

script
    echo $$ > /var/run/api.pid
    sudo -E -u {{ansible_ssh_user}} npm run run
end script

post-stop script
    rm -f /var/run/api.pid
end script