{
  "websiteUrl": "{{website_url}}",
  "liveReload":true,
  "db":{
    "driver": "pg",
    "dialect":"postgres",
    "database": "{{ db_name }}",
    "user": "{{ db_user }}",
    "password": "{{ db_password }}",
    "host": "localhost",
    "port": "5432",
    "logging": true
  },
  "mail": {
    "from": "{{mail_from}}",
    "signature": "{{mail_signature}}",
    "smtp": {
      "service": "{{mail_service}}",
      "auth": {
        "user": "{{mail_user}}",
        "pass": "{{mail_password}}"
      }
    }
  }
}