.view {
    max-width:700px;
    width:100%;
    margin:auto;
    padding:60px;
}

.btn {
    width: 256px;
    margin: 20px auto 20px auto;
}

.strike {
    position: relative;

    border-bottom: 1px #ddd solid;

    margin-bottom: 20px;

    .or {
        position: absolute;
        left: 48%;
        top: 7px;

        padding: 0 3px;

        background-color: #f9f9f9;
    }

}

.btn-numbered-page, .btn-next-page, .btn-prev-page, .btn-first-page, .btn-last-page {
    a {
        cursor: pointer;
    }
}
